.header{
    background-color:rgb(43, 15, 15);
    font-size: 34px;
    font-weight: 800;
    padding: 10px;
    color:white;
    margin-bottom: 0;
}

.navbar {
    background-color: #3a1616 !important;
    
    
}
.nav-link{
    color: #dfffff !important;
}

